<!DOCTYPE html>
<html>
<head>
    <title>Congratulations!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #faf8eb;
        }
        h1 {
            color: #483D8B;
            text-shadow: 2px 2px #FF4500;
        }
    </style>
</head>
<body>
    <h1>Thank you! There are no more queries to annotate.</h1>
</body>
</html>