<!DOCTYPE html>
<html>
    <head>
        <title>Semantic Table Search Annotator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        <style>
            h1, h2, h3, h4, legend, fieldset {
                text-align: center;
            }
            .center {
                margin-left: auto;
                margin-right: auto;
            }
            table {
                width: 50%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid black;
                padding: 15px;
                text-align: left;
            }
            .box {
                border: 2px solid #000000;
                padding: 10px;
                margin: 20px 0;
                background-color: #d0e4e0;
            }
            .tables-box {
                border: 2px solid #000000;
                padding: 10px;
                margin: 20px 0;
                background-color: #e4faf3;
            }
            .query-box {
                border: 2px solid #000000;
                padding: 10px;
                margin: 20px 0;
                background-color: #c8c8f1;
            }
            .example-box {
                border: 2px solid #008CBA;
                padding: 10px;
                margin: 20px 0;
                background-color: #cac9c9;
            }
            .instructions-box {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .paragraph-content {
                text-align: left;
            }
            tbody {
                background-color: #f7f3f3;
            }
        </style>
    </head>
    <body>
        <form action="/annotate/" method="post" class="pure-form">
            <fieldset>
                <legend><h2>Login</h2></legend>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <button type="submit" class="pure-button pure-button-primary" onclick="window.location='/annotate'">Login</button>
            </fieldset>
            <br>
            <div>
                <h3>Instructions</h3>
                <div class="instructions-box">
                    <div class="paragraph-content">
                        <p>
                            The task is to find tables that are <b>relevant</b> to a given table query.<br><br>

                            You will be presented with a tabular query containing DBpedia entities and a set of tables from Wikipedia.<br>
                            The task is to annotate these tables according to their <b>relevance</b> to the table query.<br>

                            To login, use a name you like and remember it.<br>
                            If you choose to stop annotating tables and return later, simply use the same username to login again.<br><br>
                            <b>Expected time to completion:</b> 1 hour (assuming ~15 people attend).<br>
                            Your progress is shown in the top after you login.<br><br>

                            Contact Martin Pekár for questions.<br><br>

                            <b>Thank you for your help!</b><br>
                            I promise to bring cake some day or something similar to those who participate. ;-)
                        </p>
                    </div>
                  </div>
            </div>
            <br>
            <div class="example-box" style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                <h3>Example</h3>
                <div class="pure-g paragraph-content instructions-box">
                    <div class="pure-u-2-5">
                        <p>
                            For example, president Joe Biden and very similar to prime minister Mette Frederiksen, and therefore relevant, whereas Bill Gates and Copenhagen Airport are not similar, and therefore irrelevant.<br>
                            Two entities can also be (to a smaller degree) relevant to each other without being in the same domain, such as Jeff Bezos and Ed Sheeran (both are famous people), Grand Canyon and Aalborg University meeting room 0.2.13 (both are geographical locations), and Coca Cola and Nutella (both are consumables).<br><br>
                            As an example, a table query containing american presidents and the state they are born in is relevant to tables describing presidents, prime ministers, politicians, celebreties, etc., as well as tables describing cities, states, countries, geographical localtions, etc.<br>
                            Therefore, a table does not need to contain keyword matches with the query in order to be semantically relevant.<br>
                            Some examples of relevant and irrelevant tables are shown in the bottom of this page.
                        </p>
                    </div>
                </div>
                <div class="box" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                        <h4>Query table</h4>
                        <table class="pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Barack Obama</td>
                                    <td>Hawaii</td>
                                </tr>
                                <tr>
                                    <td>Joe Biden</td>
                                    <td>Pennsylvania</td>
                                </tr>
                                <tr>
                                    <td>George Bush</td>
                                    <td>Connecticut</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tables-box" style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                        <h3>Database tables</h3>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                                <h4>Relevance score: <i>Very relevant</i></h4>
                                <table class="center">
                                    <tbody>
                                        <tr>
                                            <td>Rishi Sunak</td>
                                            <td>United Kingdom</td>
                                            <td>25 Oct 2022</td>
                                        </tr>
                                        <tr>
                                            <td>Liz Truss</td>
                                            <td>United Kingdom</td>
                                            <td>6 Sep 2022</td>
                                        </tr>
                                        <tr>
                                            <td>Theresa May</td>
                                            <td>United Kingdom</td>
                                            <td>13 Jul 2016</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                                <h4>Relevance score: <i>Somewhat relevant</i></h4>
                                <table class="center">
                                    <tbody>
                                        <tr>
                                            <td>Spain</td>
                                            <td>F.C. Barcelona</td>
                                            <td>Lionel Messi</td>
                                        </tr>
                                        <tr>
                                            <td>Portugal</td>
                                            <td>Real Madrid</td>
                                            <td>Cristiano Ronaldo</td>
                                        </tr>
                                        <tr>
                                            <td>France</td>
                                            <td>Real Madrid</td>
                                            <td>Zinedine Zidane</td>
                                        </tr>
                                        <tr>
                                            <td>Denmark</td>
                                            <td>Arsenal F.C.</td>
                                            <td>Nicklas Bendtner</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                                <h4>Relevance score: <i>Probably relevant</i></h4>
                                <table class="center">
                                    <tbody>
                                        <tr>
                                            <td>Will Ferrell</td>
                                            <td>Step Brothers</td>
                                            <td>Adam McKay</td>
                                            <td>English</td>
                                        </tr>
                                        <tr>
                                            <td>Elijah Wood</td>
                                            <td>Lord of the Rings</td>
                                            <td>Peter Jackson</td>
                                            <td>English</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
                                <h4>Relevance score: <i>Not relevant</i></h4>
                                <table class="center">
                                    <tbody>
                                        <tr>
                                            <td>Microsoft</td>
                                            <td>Windows</td>
                                        </tr>
                                        <tr>
                                            <td>IBM</td>
                                            <td>AIX</td>
                                        </tr>
                                        <tr>
                                            <td>Apple</td>
                                            <td>MacOS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>