<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Table Search Demo</title>
</head>


<body>

    <h1 style="text-align: center">Table Search Demo</h1>

    <div class="container">
        <br><br>
    
        <form action="/query_submit", method="POST", class="query-form">
            <label for="query">Input your search query below:</label><br>
            <textarea style="font-size: 18px;" name="query" id="query" rows="20">{{queryString}}</textarea>
            <br> <br>

            <div class="row">
                <div class="col text-center">
                    <input class="btn btn-primary btn-xl" type="submit" value="Submit">
                </div>
            </div>

        </form>
    
    </div>

    <br><br>
    <div class="container">
        {{#show_table}}

            <table class="table" id="table_scores" border="1">
                <thead>
                    <tr>
                        <th>Table ID</th>
                        <th>Wikipedia Page</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {{#tableToScore}}
                    <tr>
                        <td>{{tableID}}</td>
                        <td><a href={{tableURL}}>{{pgTitle}}</a></td>
                        <td>{{score}}</td>
                    </tr>
                    {{/tableToScore}}
                </tbody>
            </table>

        {{/show_table}}
    </div>


    <!-- <script id="user-template" type="text/template">
        {{#tableToScore}}
        <tr>
            <td>{{FullName}}</td>
            <td>{{WorkEmail}}</td>
        </tr>
        {{/tableToScore}}
    </script> -->

    
    
</body>

