<title>Table Search Demo</title>

<h1 style="text-align: center">Table Search Demo</h1>

<div class="container">
    Loading text from index.html page!
    <br><br>

    <form action="/query_submit", method="POST">
        <label for="query">Input your search query below:</label><br>
        <textarea style="font-size: 16;" name="query" id="query", cols="120" rows="40"></textarea>
        <!-- <input type="text" id="query" name="query"><br><br> -->
        <br> <br>
        <input type="submit" value="Submit">
    </form>


</div>